*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    text-transform: capitalize;
}
header{
    width: 100%;
    padding: 15px 0;
    background-color: #a33535;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.web-name{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 35px;
}
.web-links{
    margin-right: 35px;
}
.web-links ul{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}
.web-links ul li a{
    color: white;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sec1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
}
.sec1 img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.log-form{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.log-txt{
    color: #FA7373;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.sec1 .log-input div{
    padding-top: 15px;
}
.sec1 .log-input div label{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
}
.sec1 .log-input div input {
    padding: 14px 15px;
    width: 250px;
    border-radius: 8px;
    border: none;
    background-color: #cbcbcb65;
}
.log-form a{
    padding: 12px 25px;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    background-color: #EC5252;
    color: white;
}
.log-input{
    margin: 30px 0 60px 0;
}
.txt-input{
    margin-left: 38px;
}